@font-face {
  font-family: "NotoSans-Regular";
  font-weight: 400;
  src: url("../css/fontfiles/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "NotoSans-Bold";
  font-weight: 600;
  src: url("../css/fontfiles/NotoSans-Bold.ttf");
}
