$primary-color: #f64452;
$black: #000000;
$light: #fff;
$blue: #1b07f2;
$light-blue: #1b05f236;
$off-gray: #e9e9ef;
$dark-off-gray: #d2d2d2;
$dark-gray: #cfced3;
$gray: #ededed;
//set text color based on bg
@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #747374;
  } @else {
    @return #ffffff;
  }
}

//set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

$colors: (
  primary: $primary-color,
  secondary: $black,
  light: $light,
  blue: $blue,
  off-gray: $off-gray,
  dark-off-gray: $dark-off-gray,
  gray: $gray,
);

@each $name, $value in $colors {
  .btn-#{$name} {
    background: $value;
    color: set-text-color($value);
  }

  .text-#{$name} {
    color: $value;
  }

  .bg-#{$name} {
    background: $value;
    color: set-text-color($value);
  }
}
