$primary-color: #f64452;
$gray-100: #2f2f2f;
$black: #000000;
$light-gray: #8b8b8b;
$light-gray-2: #959595;

//set text color based on bg
@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return $gray-100;
  } @else {
    @return #ffffff;
  }
}

//set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

$colors: (
  primary: $primary-color,
  secondary: $black,
  gray-100: $gray-100,
  light-gray: $light-gray,
  light-gray-2: $light-gray-2,
);

@each $name, $value in $colors {
  .btn-#{$name} {
    background: $value;
    color: set-text-color($value);
  }

  .text-#{$name} {
    color: $value;
  }

  .bg-#{$name} {
    background: $value;
    color: set-text-color($value);
  }
}
