@import "theme";
@import "fonts";
@import "breakpoints";
@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  //font-family: "SF Display";
}
html {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
body {
  font-family: "Inter", sans-serif;

  font-weight: 400;
}
.browser-border {
  background: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  height: 10px;
  z-index: 4;
}
.flex-h {
  display: flex;
}
.lang-switcher-mobile {
  border-radius: 8px;
  position: fixed;
  min-width: 55px;
  opacity: 0.9;
  z-index: 99;
  background: white;
  right: 8px;
  bottom: 20px;
  padding: 8px;
  li {
    margin: 0;
  }
}
.flex-v {
  display: flex;
  flex-direction: column;
}
textarea:focus,
input:focus {
  outline: none;
}
input {
  font-size: 1rem;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.more {
  cursor: pointer;
}
.try {
  font-size: 18px;
}
h1,
h2,
h3,
h4 {
}
.hide-tablet {
  display: block !important;
  @include media("<=1070px") {
    display: none !important;
  }
}
.hide-tablet-f {
  display: flex !important;
  @include media("<=1070px") {
    display: none !important;
  }
}
.hide-desktop {
  display: none !important;
  @include media("<=1070px") {
    display: block !important;
  }
}
.site-wrapper {
  @include media("<=phone") {
    overflow-x: hidden;
  }
}
nav {
  margin-bottom: 0;
  display: flex;
  padding: 0 16px;
  @include media("<=1070px") {
    margin-bottom: 3rem;
    padding-left: 24px;
  }
  margin-right: -32px;
  div {
    display: flex;
    align-items: center;
  }

  a {
    @include set-background(#ffffff);
  }
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  margin-right: 32px;
  @include media("<=1070px") {
    margin-right: 16px;
  }
}
.impressum-container {
  padding-top: 46px;
  padding-left: 104px;
  padding-right: 64px;
  padding-bottom: 64px;
  text-align: justify;
  overflow-y: hidden;
  a {
    text-decoration: none;
  }
  p {
    font-size: 16px;
    margin-bottom: 8px;
  }

  @include media("<=1070px") {
    padding: 32px 16px;
  }
}
.brand {
  max-width: 60px;
  margin-right: 24px;
  img {
    width: 40px;
    height: 40px;
    margin-left: -30px;
  }
}
.tablet {
  display: none !important;
  @include media("<=1070px") {
    display: block !important;
  }
}
.hide-mobile {
  display: flex !important;
  @include media("<=phone") {
    display: none !important;
  }
}
.mobile {
  display: none;
  @include media("<=phone") {
    display: flex;
  }
}
.kbd {
  background: $blue;
  padding: 4px 8px;
  border-radius: 8px;
  color: #fff;
}
.grid-2 {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
}
.feature-body-mobile {
  margin-top: 24px;
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 0;
  }
  img {
    max-width: 100%;
  }
  .feature-body-detail {
    p {
      margin-top: 16px;
      font-size: 24px;
    }
  }
}
.trial-wrapper {
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  p {
    margin-bottom: 8px;
  }
  .failedEmail {
    text-align: center;
  }
  form {
    display: flex;
  }
  padding: 32px;
  input {
    padding: 8px;
    border-radius: 0;
    border: solid;
    width: 100%;
    margin-right: 16px;
    border-width: 2.5px;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  button,
  input[type="submit"] {
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 8px;
    background: #f0f0f0;
    border-radius: 10px;
    -webkit-appearance: none;
  }
}
.card {
  background: transparent;
  padding: 32px;
  border-radius: 10px;
  border: 1px solid $off-gray;
  color: $black;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}
.shadow-md {
  box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.switch {
  width: 100%;
  height: 30px;
  cursor: pointer;
  position: static;
  background: #fff;
  border-radius: 20px;
  .switch-btn {
    border-radius: 20px;
    position: static;
    background: #b1464b;
    height: 100%;
    width: 30px;
  }
}
.blue-btn {
  color: #fff;
  border-style: none;
  background-color: $blue;
  box-shadow: 0 2px 8px 0 rgba(43, 64, 255, 0.2);
}
.blue-btn-outline {
  border-style: solid 2px;
  border-color: $blue;
  background-color: transparent;
  box-shadow: 0 2px 8px 0 rgba(43, 64, 255, 0.2);
}
.app-intro {
  margin-top: 1rem;
  padding: 0;
  text-align: center;

  .intro-text {
    display: inline;
    font-size: 32px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid $blue; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    margin-top: 1rem;
    letter-spacing: 0.15em; /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: $blue;
    }
  }
}
.bold {
  font-weight: 800;
}
.light {
  font-weight: 200;
}
.app-outer-wrapper {
  font-family: "SF Display" !important;
  padding: 64px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .tag-container {
    padding: 8px;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 15px;
    background: $blue;
  }

  .app-wrapper {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    max-width: 1200px;
    width: 100%;
    padding-top: 8px;
    padding-left: 8px;
    background: #f7f7f7;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(0, 0%, 72.5%, 0.4);
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 2px 0 30px 4px rgba(0, 0, 0, 0.08);
    .win-btn {
      width: 13px;
      height: 13px;
      margin-right: 8px;
      border-radius: 7px;
    }

    .inner-app {
      padding: 24px;
      padding-left: 16px;
      padding-top: 16px;
    }
    .window-controls-wrapper {
      display: flex;
      div {
        cursor: pointer;
      }
      .close {
        border: 1px solid #ee4e46;
        background-color: #ff6059;
      }

      .min {
        border: 1px solid #e7ad2e;
        background-color: #ffbd2e;
      }

      .max {
        border: 1px solid #26a93b;
        background-color: #28ca42;
        cursor: unset;
      }
    }
    .heavy {
      font-weight: 600;
      font-size: 20px;
    }
    .weather {
      font-size: 17px;
      font-weight: 400;
      color: #a7a7a7;
    }
    .sidebar-wrapper {
      margin-right: 48px;
      display: flex;
      flex-direction: column;
      max-width: 365px;
      width: 100%;
      .top-part {
        .profilepic > img {
          margin-right: 12px;
          max-height: 58px;
          max-width: 55px;
          image-rendering: -webkit-optimize-contrast;
        }
        .flex-v {
          padding-top: 6px;
        }
      }

      .menu-items {
        padding-left: 16px;
        display: flex;
        flex-direction: column;
        margin-top: 36px;
      }
      .menu-item {
        min-height: 30px;
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        p {
          font-size: 18px;
          font-weight: 800;
        }
        span {
          background: #cfced3 !important;
          padding: 4px 6px !important;
        }
      }
    }

    .contacts-wrapper {
      margin-right: 48px;

      .header {
        font-size: 40px;
      }

      .contacts {
        display: flex;
        flex-direction: column;
        margin-top: 36px;

        .contact-item {
          display: flex;
          .letter {
            font-size: 48px;
            font-weight: 800;
          }
          .flex-v {
            width: 100%;
          }
          .name-container {
            padding: 16px;
            display: flex;
            align-items: center;
            p {
              font-size: 18px;
            }
          }
          .active {
            border-radius: 16px;
            background: $gray;
          }
        }
      }
    }

    .indiv-contact-wrapper {
      display: flex;
      flex-direction: column;
      .header {
        font-size: 40px;
      }
      .tags-section {
        display: flex;
        .tag-container {
          margin-right: 4px;
        }
        p {
          font-size: 14px;
        }
      }
      .contact {
        display: flex;
        flex-direction: column;
        margin-top: 36px;

        .contact-method {
          display: flex;
        }

        .blue-btn,
        .blue-btn-outline {
          padding: 10px;

          width: 150px;
          border-radius: 6px;
          color: white;
          font-weight: 200;
        }
        .blue-btn-outline {
          color: $blue;
        }
      }
    }
  }
}
.general-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1236px;
  width: 100%;
  padding: 0 40px;
  @include media("<768px") {
    padding: 0 16px;
  }
}
.hero-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  width: 100%;
  padding: 0 40px;
  min-height: 100vh;
  padding: 80px 40px;
  display: grid;
  background: #ffffff;
  grid-template-columns: 100%;
  z-index: -1;
  @include media("<768px") {
    padding: 0 16px;
  }
  @include media(">phone", "<=1070px") {
  }
  @include media("<=1070px") {
    min-height: 100%;
    grid-template-columns: 100%;
  }
  .download-btn {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    font-size: 21px;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
  }
  .download-btn:hover {
    border-style: none;
    background-color: #fff;
    color: $blue;
    box-shadow: 0 2px 8px 0 rgba(43, 64, 255, 0.2);
  }
  @include media("<=phone") {
    padding: 16px;
    padding-top: 32px;
    h1 {
      font-size: 48px;
    }
  }
  display: flex;
  flex-direction: column;
  z-index: 2;
  background: #ffffff;

  .subtitle-container {
    max-width: 480px;
    p {
      font-weight: 200;
    }
  }

  a {
    text-decoration: none;
  }
  a:hover {
    color: $blue;
  }

  .scroll-div {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
.new-features-container {
  padding: 120px 0;
  .header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    align-items: center;
    @include media("<=1070px") {
      flex-direction: column;
      align-items: flex-start;
    }
    h2 {
      font-size: 38px;
      @include media("<=1070px") {
        margin-bottom: 16px;
      }
    }
    .faux-btn-container {
      display: flex;
      margin-right: -16px;
    }
    .faux-btn {
      margin-right: 16px;
      height: 32px;
      width: 82px;
      display: flex;
      border-radius: 8px;
      background: #4c4cf8;
      box-shadow: 0px 3px 12px rgba(12, 12, 13, 0.33);
      span {
        margin: auto;

        font-size: 14px;
      }
    }
  }
  .cards-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include media("<=1070px") {
      flex-direction: column;
    }
  }
  .feature-card {
    width: 357px;
    height: 357px;
    padding: 24px;
    border: 1px solid #dbdbdb;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    @include media("<=1070px") {
      width: 100%;
      padding: 16px;
      height: 240px;
    }
    transition: border-color 300ms ease, box-shadow 300ms ease;
    &:hover,
    &.active {
      border: 1px solid #fff;
      box-shadow: 0px 3px 40px rgba(76, 76, 248, 0.18);
    }
    @include media("<=1070px") {
      margin-right: 0;
      margin-bottom: 24px;
    }

    .card-header-container {
      display: flex;
      @include media("<=1070px") {
        flex-direction: column;
      }
      justify-content: space-between;
      h3 {
        font-size: 28px;
        @include media("<=1070px") {
          font-size: 21px;
          margin-bottom: 8px;
        }
      }
      .num {
        color: #8a8a8a;
        font-weight: 100;
        font-size: 26px;
        @include media("<=1070px") {
          font-size: 18px;
        }
      }
    }
    .card-footer-container {
      margin-top: auto;
      span {
        font-weight: 200;
        font-size: 24px;
        color: #8a8a8a;
        margin-bottom: 30px;
      }
    }
  }
}
.feature-body {
  margin-top: 128px;
  display: flex;
  @include media("<=1070px") {
    margin-top: 64px;
    flex-direction: column;
  }
  .img-container {
    min-width: 761px;
    @include media("<=1070px") {
      min-width: 100%;
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
  .feature-body-detail {
    display: flex;
    margin-left: 48px;
    flex-direction: column;
    @include media("<=1070px") {
      margin-left: 0;
      margin-top: 48px;
    }
    .feature-body-text {
      @include media("<=1070px") {
        font-size: 20px;
      }
    }
    button {
      padding: 16px 40px;
      border-radius: 8px;
      background: #4c4cf8;
      margin-top: 32px;
      font-size: 18px;
      box-shadow: 0px 3px 12px rgba(12, 12, 13, 0.33);
      -webkit-transition: all 250ms ease;
      transition: all 250ms ease;
      &:hover {
        color: #4c4cf8;
        background: #fff;
      }
    }
  }
}

.sign-up-container {
  height: 100vh;

  @include media("<desktop") {
    height: 85vh;
  }
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  border-top: 1px solid $off-gray;
  @include media("<=phone") {
    padding: 16px;
  }

  .chimp-tree,
  .chimp-walk {
    position: absolute;
    z-index: -2;
    height: 40%;
    @include media("<tablet") {
      display: none;
    }
  }

  .chimp-tree {
    left: -20px;
    bottom: -40px;
  }
  .chimp-walk {
    height: 25%;
    right: 0;
    bottom: -40px;
  }

  .trial-wrapper {
    width: 100%;
    max-width: 880px;
  }
  h2 {
    font-size: 48px;
    @include media("<=phone") {
      font-size: 32px;
    }
  }
  .subtitle {
    font-size: 24px;
    @include media("<=phone") {
      font-size: 16px;
    }
  }
}
.cookie-banner {
  position: fixed;
  display: flex;
  bottom: 30px;
  left: 30px;
  background: #fff;
  width: 400px;
  border-radius: 8px;
  @include media("<=1070px") {
    width: 80%;
    left: 10px;
  }
  .text-container {
    color: $black;
    padding: 16px;
    p {
      font-size: 16px;
    }
  }
  .flex-h {
    width: 100%;
  }
  .flex-v {
    width: 50%;
    button {
      height: 100%;
      text-align: center;
      padding: 8px;
      border: 1px solid rgb(194, 194, 194);
      background: transparent;
      border-top: none;
      border-right: none;
    }
    button:nth-child(2) {
      border-bottom: none;
    }
  }
  z-index: 99;
}
@import "utilities";
@import "buttons";
