@import "theme";
@import "fonts";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "NotoSans-Regular", "sans-serif";
}
body {
  font-family: "NotoSans-Regular", "sans-serif";
}
input {
  font-size: 1rem;
}
h1,
h2,
h3,
h4 {
  font-family: "NotoSans-Bold", "sans-serif";
}
.kbd {
  background: $primary-color;
  padding: 4px 8px;
  border-radius: 8px;
  color: #fff;
}
.grid-2 {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
}
.card {
  background: $primary-color;
  padding: 32px;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex-direction: column;
}
.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.switch {
  width: 100%;
  height: 30px;
  cursor: pointer;
  position: relative;
  background: #fff;
  border-radius: 20px;
  .switch-btn {
    border-radius: 20px;
    position: absolute;
    left: 0;
    background: #b1464b;
    height: 100%;
    width: 30px;
  }
}
.hero-container {
  min-height: 100vh;
  display: grid;
  background: #ffffff;
  grid-template-columns: 60% 40%;
  z-index: -1;
  .trial-wrapper {
    display: flex;
    flex-direction: column;
    p {
      margin-bottom: 8px;
    }
    form {
      display: flex;
    }
    padding: 16px;
    input {
      padding: 8px;
      border-radius: 10px;
      border: solid;
      width: 100%;
      margin-right: 16px;
      border-width: 2.5px;
    }
    button {
      padding: 8px;
      border-radius: 10px;
    }
  }
  .hero-text-container {
    position: relative;
    padding-top: 46px;
    padding-left: 104px;
    padding-right: 64px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    background: #ffffff;
    .img-devices {
      position: absolute;
      right: -50%;
      top: 30%;
    }
  }
  .subtitle-container {
    max-width: 480px;
    p {
      font-weight: 200;
    }
  }
  nav {
    margin-bottom: 7rem;
    margin-right: -32px;
    div {
      display: flex;
      align-items: center;
    }

    a {
      @include set-background(#ffffff);
    }
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li {
    margin-right: 32px;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: $primary-color;
  }
  .hero-drawing {
    overflow: hidden;
    background: $primary-color;
    height: 100%;
    position: relative;
    z-index: 0;
    .cloud-left {
      position: absolute;
      top: -70px;
      left: -40px;
    }

    .cblack {
      position: absolute;
      top: 70px;
      left: 310px;
    }

    .cloud-right {
      position: absolute;
      top: -36px;
      right: -190px;
    }

    .face-left {
      position: absolute;
      top: 410px;
      left: 90px;
    }

    .face-right {
      position: absolute;
      top: 280px;
      right: 215px;
    }

    .chatbox-left {
      position: absolute;
      top: 70%;
      left: -105px;
    }

    .chatbox-right {
      position: absolute;
      top: 35%;
      right: -65px;
    }

    .cloud-left-btm {
      position: absolute;
      bottom: -200px;
      left: -30px;
    }
    .t1 {
      position: absolute;
      top: 290px;
      left: 360px;
    }
    .t2 {
      position: absolute;
      bottom: 390px;
      left: 50px;
    }
    .t3 {
      position: absolute;
      bottom: 240px;
      right: 210px;
    }
    .c1 {
      position: absolute;
      bottom: 100px;
      right: 290px;
    }
    .seeds {
      position: absolute;
      bottom: 30px;
      right: 50px;
    }
  }
  .img-circle {
    position: absolute;
    bottom: 40px;
    z-index: -1;
    right: 30px;
    width: 200px;
    height: 200px;
  }
  .scroll-div {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .signup-login-wrapper {
    padding: 120px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    form {
      max-width: 654px;
      display: flex;
      flex-direction: column;

      input {
        padding: 16px;
        border-radius: 8px;
        border: none;
        background: #ededed;
      }
    }
  }

  .forget-rememberme-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.features-container {
  padding: 64px;
  display: flex;
  .feature-link {
    font-family: "NotoSans-Bold", "sans-serif";
    font-size: 16px;
    text-decoration: none;
    color: #832a2acf;
    margin-bottom: 8px;
  }

  .feature-link.active {
    color: white;
  }

  .sidebar {
    position: sticky;
    top: 16px;
    background: #f8616d;
    padding: 16px;
    height: 100%;
    border-radius: 10px;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
  }
  .column-container {
    display: flex;
    flex-direction: column;
  }
  .grid-2 {
    gap: 48px;
  }
  .card {
    position: relative;

    .img-noahmemoji {
      width: 120px;
      height: 120px;
      z-index: 1;
      position: absolute;
      top: -40px;
      right: -40px;
    }
    .img-noahmemoji {
      top: -10px;
      right: -45px;
    }
    .img-maxmemoji,
    .img-wmemoji {
      width: 120px;
      height: 120px;
      z-index: 1;
      position: absolute;
      bottom: -20px;
      right: -40px;
    }
    h4 {
      color: #832a2a91;
    }
    .emojis-div {
      margin-top: auto;
      width: 70px;
      .emojis {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
      }
    }
  }
  .feature-preview {
    background: none;
    padding: 0;
    img {
      border-radius: 10px;
      max-width: 100%;
    }
  }
}

@import "utilities";
@import "buttons";
